// COLORS //

$purple: #8824cd;
$grey: #626262;
$dark-blue: #2e3b4e;
$dark-purple: #521a66;
$dark-blue-text: #3a4d60;


// fonts //

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// VARIABLES //

$xs: 0px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
