@import '../../node_modules/modern-normalize/modern-normalize.css';
@import './_variables';
@import './_common';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Open Sans';
  color: white;
}

// HEADER STYLE //

.header {
  position: absolute;
  width: 100%;
  border-bottom: 0.06rem solid rgba(#fff, 0.2);
}

.header__wrapper {
  height: 6.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (min-width: $md) {
    justify-content: space-between;
  }
}

.header__logo {
  flex: 0 0 4rem;
  min-height: 1.313rem;

  background-image: url('../public/img/pex.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.header__nav {
  display: none;
  height: 100%;

  @media (min-width: $md) {
    display: block;
    flex-grow: 0;
  }
}

.header__list {
  display: flex;
  flex-wrap: nowrap;
  height: inherit;
}

.header__item {
  height: inherit;
  // height: 100%;
  padding: 0 1.5rem;
  cursor: pointer;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

// MAIN STYLE //

// START SECTION FIRST //

.main {
  flex-grow: 1;
}

.section--first {
  // visibility: hidden;
  background-image: url('../public/img/rocks.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding-top: 6.3rem;
}

.first__composition {
  text-align: center;
  max-width: 32rem;

  @media (min-width: $md) {
    text-align: right;
  }
}

.first__h1 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 3rem;

  @media (min-width: $md) {
    line-height: 4.375rem;
    font-size: 3.125rem;
  }
}
.first__btn {
  width: 100%;
  margin-top: 2rem;

  @media (min-width: $sm) {
    width: auto;
    margin: auto;
    margin-top: 3rem;
    padding: 0 3.7rem;
  }

  @media (min-width: $md) {
    margin: 0;
    margin-top: 3rem;
    margin-left: auto;
  }

}
.first__small {
  display: block;
  margin-top: 1rem;
  margin-right: 1.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.063rem;
}


// SECTION ADVANTAGES //

.section--advantages {
  background-color: $dark-blue;
  position: relative;
  // z-index: 2;

  &::after {
    --width: 10rem;

    content:'';
    display: block;
    width: var(--width);
    height: 9.625rem;
    left: calc(50% - var(--width)/2);
    position: absolute;
    bottom: -7%;
    background-image: url('../public/img/shape.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // z-index: 0;

    @media (min-width: $md) {
      bottom: -13%;
    }
  }
}
.advantages__wrapper {
  display: flex;
  padding: 0 0 3rem;

  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    padding: 0 0 8rem;
    flex-flow: row wrap;
  }
}

.advantage__wrapper {
  z-index: 2;
  margin-top: 2rem;
  padding: 0 1rem;
  text-align: justify;

  @media (min-width: $md) {
    flex: 0 0 50%;
    margin-top: 4.3rem;
  }
}
.advantage__h {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1.628rem;
  text-transform: uppercase;
}
.advantage__text {
  margin-top: 1rem;
  @media (min-width: $md) {
    margin-top: 2rem;
  }
}

//  SECTION BANG //

.section--bang {
  position: relative;


  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &::after {
    opacity: .8;
    background-image: url('../public/img/stars.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &::before {
    background-color: #d54c63;
  }
}

.bang__conposition {
  text-align: center;

  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: $sm) {
    // padding: 9.7rem 0 11rem;
    padding-top: 9.7rem;
    padding-bottom: 11rem;
  }
}
.bang__h2 {
  font-size: 2.188rem;
  font-weight: 300;
  line-height: 3.753rem;
}
.bang__btn {
  margin-top: 2rem;
  color: #d54c63;
  width: 100%;

  @media (min-width: $sm) {
    width: auto;
    margin: 2rem auto 0;
    padding: 0 5.5rem;
  }
}

// SECTION PEN //

.parts__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.parts--reverse {
  .parts__part {
    &--1 {
      @media (min-width: $md) {
        order: 2;
      }
    }
    &--2 {
      order: 1;

      @media (min-width: $md) {
        order: 1;
        padding: 3rem 3rem 3rem 1rem;
      }
      @media (min-width: $lg) {
        padding: 6rem 7rem 6rem calc(50% - 1200px / 2);
      }
    }
  }
}

.parts__part--1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-basis: 10rem;

  @media (min-width: $md) {
    flex: 1 1 45%;
  }
}
.parts__part--2 {
  text-align: center;
  color: $dark-blue-text;
  padding-bottom: 3rem;

  margin-top: 2rem;

  @media (min-width: $md) {
    margin: 0;
    flex: 1 1 55%;
    text-align: left;
    padding-right: 1rem;
    padding-left: 3rem;
    padding-top: 3rem;
  }
  @media (min-width: $lg) {
    padding-right: calc(50% - 1200px / 2);
    padding-bottom: 7rem;
    padding-top: 6rem;
    padding-left: 6rem;
  }
}
.parts__title {
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: uppercase;
}
.parts__text--strong {
  margin-top: 1rem;
  font-size: 1.188rem;
  line-height: 1.938rem;
}
.parts__text {
  margin-top: 2rem;
  line-height: 1.625rem;
  font-size: 0.938rem;
  font-weight: 400;
}

// SECTION FOREST //

.section--experience {

  background-image: url('../public/img/forest.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before, &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  &::before {
    top: 0;
    left: 0;
    height: 100%;
    opacity: .8;
    background-image: url('../public/img/forest.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &::after {
    height: 90%;
    bottom: 0;
    opacity: .8;
    background-color: $dark-purple;

    @media (min-width: $md) {
      height: 80%;
    }
  }
}
.experience__composition {
  text-align: center;
  padding: 5rem 0;

  @media (min-width: $md) {
    padding-top: 10rem;
  }
}
.experience__h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -0.062rem;
}
.experience__text {
  margin-top: 2rem;
  color: #a87bb7;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.063rem;
  letter-spacing: -0.012rem;
}
.experience__btn {
  margin: 2rem 0 1rem;
  width: 100%;

  @media (min-width: $sm) {
    width: auto;
    margin: 2rem auto 1rem;
    padding: 0 60px;
  }
}
.experience__small {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.058rem;
}

// SECTION PHOTOGRAPHY //

.section--photography {
  background-image: url('../public/img/salad.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.photography__composition {
  padding: 10rem 0 5rem;
  width: 100%;
  text-align: center;

  @media (min-width: $sm) {
    text-align: left;
  }
  @media (min-width: $md) {
    padding: 22rem 0 9rem;
  }
}
.photography__btn {
  width: 100%;

  @media (min-width: $sm) {
    width: auto;
    // margin: 0 auto;
    padding: 0 1.5rem;
  }
}
.photography__text {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.125rem;
}

// SECTION TOUCH //

.section--touch {
  background-color: #e7526b;
  padding: 3rem 0;

  @media (min-width: $sm) {
    padding: 5rem 0 13rem;
  }
}
.touch__composition {
  width: 100%;
  text-align: center;

  @media (min-width: $sm) {
    text-align: left;
    width: 400px;
  }
}
.touch--h {
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: uppercase;
}
.houch--text {
  margin-top: 1rem;
}
.houch--text, .touch__mail {
  font-size: 0.938rem;
  font-weight: 400;
}
.touch__mail {
  display: block;
  margin-top: 2rem;
  line-height: 1.625rem;
  text-decoration: underline;
}
// FOOTER STYLE //

.footer {
  background-color: $dark-blue;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 2.5rem 0 5rem;

  @media (min-width: $sm) {
    padding-bottom: 18rem;
  }
}
